@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Inter';
    min-height: 600px;
    padding: 80px 0;
    background-image: linear-gradient(to top, #da7e2e 0%, #D04004 100%);
    background-color: #D04004;

    display: flex;
}

.main{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.472), rgba(255, 255, 255, 0.365));
    overflow: hidden;
    padding: .7em;
    border-radius: 1em;

    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: .6em;

    animation: mostrar 1.5s ease-in-out;
}

@keyframes mostrar {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.sub-main-titulo-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em 0em;
    text-align: center;
}

.formulario{
    display: grid;
    justify-items: center;
    gap: 1.5em;

}

.input{
    width: 80%;
    max-width: 500px;
    outline: none;
    border: none;
    padding: 1em;
    font: inherit;
    border-radius: .6em;
}

.input-boton{
    background-color: #DC3F31;
    color: #fff;
    font-weight: 600;
    width: 100%;
}

.titulo{
    font-size: 2.3rem;
}

.grid-botonera{
    width: 80%;
    max-width: 500px;
    outline: none;
    border: none;
    padding: 1em;
    padding-left: 0%;
    padding-right: 0%;
    font: inherit;
    border-radius: .6em;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    row-gap: 2em;
}
    

@media (min-width: 990px) {

    .grid-botonera{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2em;
        width: 500px;
        padding-bottom: 0%;
        padding-top: 0%;
    }
    
}

